<ng-container *ngIf="activePage == 'list'">
    <ng-container *ngTemplateOutlet="flatList"></ng-container>
</ng-container>

<ng-container *ngIf="activePage == 'detail'">
    <ng-container *ngTemplateOutlet="flatDetail"></ng-container>
</ng-container>

<ng-template #flatList>
    <app-flat-list
        [flatExtDtos]="(flatExtDtos$ | async)?.data || []"
        (deleted)="delete($event)"
        (selected)="select($event)"
    ></app-flat-list>
</ng-template>

<ng-template #flatDetail>
    <app-flat-detail
        [apartmentDtos]="(apartmentDtos$ | async)?.data || []"
        [cardHeader]="cardHeader"
        [houseOwnerDtos]="(houseOwnerDtos$ | async)?.data || []"
        [loading]="loading"
        [sectionDtos]="(sectionDtos$ | async)?.data || []"
        [selectedFlatExtDto]="selectedFlatExtDto"
        [selectedFlatExtDtoErrors]="selectedFlatExtDtoErrors"
        [tenantDtos]="(tenantDtos$ | async)?.data || []"
        (cancelled)="cancel()"
        (saved)="save($event)"
        (sectionSelected)="selectSection($event)"
    ></app-flat-detail>
</ng-template>

<!-- Silme Onay Modal'ı -->
<ng-template #deleteModal let-modal>
    <div class="modal-header justify-content-between">
        <img class="opacity-0" src="#" width="24" height="24">
        <h4 class="modal-title" id="modal-basic-title">Daire Silme</h4>
        <button type="button" class="btn-close m-0" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
    </div>
    <div class="modal-body">
        <p class="text-center m-0">"{{selectedFlatExtDto.doorNumber}}" kapı numaralı daire silinecektir. Onaylıyor musunuz?</p>
    </div>
    <div class="modal-footer w-100">
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger w-100" (click)="modal.close('ok')">Sil</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" (click)="modal.dismiss('cancel')">İptal</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- /Silme Onay Modal'ı -->
