@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_mixins.scss';

.sidebar-floating {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: $c-color-1;

    &.sidebar-show {
        width: fit-content;
    }

    .sidebar-close-btn {
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: rgba(#000, .7);

        &:hover {
            color: #000;
        }
    }

    .item {
        padding: 0.75rem 1.25rem;
        border: 1px solid $c-color-1;
    }
    
    .item-link {
        transition: 0.3s;
        color: rgba(#000, .7);
        &:hover {
            color: #000;
        }
    }
    
    .collapsible-link {
        color: rgba(#000, .7);
        &:hover {
            color: #000;
        }
    }
}
