<footer class="footer-special">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4 mt-5">
                <address class="navbar navbar-dark" [ngClass]="{'justify-content-center': breakpointService.screenSize.width < 768}">
                    <ul class="navbar-nav" [ngClass]="{'text-center': breakpointService.screenSize.width < 768}">
                        <li class="nav-item mb-3">
                            <a class="navbar-brand" href="/">
                                <img src="favicon.ico" alt="Uygulamanın logosu" width="32">
                                <span class="brand ms-2">İş Yönetim</span>
                            </a>
                        </li>
                        <li class="nav-item mb-2 ms-2">
                            <a href="https://www.google.com/maps/place/K%C3%BClt%C3%BCr,+3876.+Sk.+No:39,+07090+Baht%C4%B1l%C4%B1+K%C3%B6y%C3%BC+K%C3%B6y%C3%BC%2FKepez%2FAntalya/@36.9058289,30.6521943,18.44z/data=!4m5!3m4!1s0x14c391d86d075071:0x887ee07a144fcb04!8m2!3d36.9054865!4d30.6529373" target="_blank" class="nav-link d-flex flex-row">
                                <div class="icon me-2">
                                    <i class="fas fa-building m-auto"></i>
                                </div>
                                <span>Kültür Mah. 3876. Sokak, İncedayı Apt. 39/1 Kepez/ANTALYA</span>
                            </a>
                        </li>
                        <li class="nav-item mb-2 ms-2">
                            <a href="tel:+905554443322" class="nav-link">
                                <div class="icon me-2">
                                    <i class="fas fa-phone-alt m-auto"></i>
                                </div>
                                <span>+905554443322</span>
                            </a>
                        </li>
                        <li class="nav-item mb-2 ms-2">
                            <a href="mailto:stmedya@mail.com" class="nav-link">
                                <div class="icon me-2">
                                    <i class="fas fa-envelope m-auto"></i>
                                </div>
                                <span>stmedya@mail.com</span>
                            </a>
                        </li>
                    </ul>
                </address>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-4 mt-5">
                <nav class="navbar navbar-dark justify-content-center">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item mb-1">
                            <a href="#" class="nav-link">Kullanıcı Sözleşmesi</a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="#" class="nav-link">Çerez Politikası</a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="#" class="nav-link">KVKK Aydınlatma Metni</a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="#" class="nav-link">Kalite Politikası</a>
                        </li>
                        <li class="nav-item mb-1">
                            <a href="#" class="nav-link">Bilgi Güvenliği</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-2 text-center text-white">
                <p>
                    &copy; ST Medya Bilişim - 2022
                </p>
            </div>
        </div>
    </div>
</footer>
