@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_mixins.scss';

.img-card {
    width: 100%;
}

.img-slider {
    display: block;
    width: 100%;
    height: 98vh;
    object-fit: contain;
}

.zoom {
    transition: transform .2s;

    &:hover {
        transform: scale(1.2);
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
}

.btn-close-custom {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: $c-color-1;
    padding: 10px;
    font-size: 20px;
    z-index: 2;
}