<div class="container-xl">
    <div class="row m-0 gx-3">
        <div class="col-md-12 text-center">
            <h2 class="p-4 m-0">Galeri</h2>
            <div class="horizontal-line-md">&nbsp;</div>
        </div>
    </div>

    <!-- 1. Blok-->
    <div class="row m-0 gx-3">
        <!-- <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-room-7.jpeg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-7.jpeg" alt="otel odası">
                    </a>
                </div>
            </div>
        </div>
         -->
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <img (click)="openImageModal()" class="img-fluid rounded zoom cursor-pointer" src="assets/images/hotel/kolibry-hotel-room-7.jpeg" alt="otel odası">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-room-9.jpeg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-9.jpeg" alt="otel odası">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-room-10.jpeg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-10.jpeg" alt="otel odası">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-view-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-view-1.jpg" alt="otelin manzarası">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /1. Blok-->

    <!-- 2. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-room-6.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-6.jpg" alt="otel odası">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-reception-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-reception-1.jpg" alt="resepsiyon">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-room-2.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-2.jpg" alt="otel odası">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-room-8.jpeg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-8.jpeg" alt="koltuk ve abajur">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /2. Blok-->

    <!-- 3. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-room-3.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-3.jpg" alt="otel odası">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-restaurant-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-restaurant-1.jpg" alt="restoran">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-breakfast-2.jpeg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-breakfast-2.jpeg" alt="açık büfe kahvaltı">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-breakfast-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-breakfast-1.jpg" alt="açık büfe kahvaltı">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /3. Blok-->

    <!-- 4. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-pool-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-pool-1.jpg" alt="havuz">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-open-buffet-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-open-buffet-1.jpg" alt="açık büfe kahvaltı">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-pool-1.png" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-pool-1.png" alt="havuz">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-outdoor-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-outdoor-1.jpg" alt="otel bahçesi">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /4. Blok-->

    <!-- 5. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-bathroom-2.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-bathroom-2.jpg" alt="banyo">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-sauna-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-sauna-1.jpg" alt="sauna">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-room-5.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-5.jpg" alt="otel odası">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-bathroom-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-bathroom-1.jpg" alt="banyo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /5. Blok-->

    <!-- 6. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-room-5.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-5.jpg" alt="banyo">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-building-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-building-1.jpg" alt="otel binası">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-building-2.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-building-2.jpg" alt="otelin gece görünümü">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-0">
            <div class="card shadow bg-primary">
                <div class="card-body overflow-hidden gap-4 p-0">
                    <a href="assets/images/hotel/kolibry-hotel-hammam-and-spa-1.jpg" target="_blank">
                        <img class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-hammam-and-spa-1.jpg" alt="hamam ve spa">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /6. Blok-->
</div>

<!-- Silme Onay Modal'ı -->
<ng-template #galleryModal let-modal>
    <div class="modal-header justify-content-between">
        <img class="opacity-0" src="#" width="24" height="24">
        <h4 class="modal-title" id="modal-basic-title">Mesajı Silme</h4>
        <button type="button" class="btn-close m-0" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
    </div>
    <div class="modal-body">
        <p class="text-center m-0"> adlı oda silinecektir. Onaylıyor musunuz?</p>
    </div>
    <div class="modal-footer w-100">
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger w-100" (click)="modal.close('ok')">Sil</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" (click)="modal.dismiss('cancel')">İptal</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- /Silme Onay Modal'ı -->