<div class="container-xl">
    <div class="row m-0 gx-3">
        <div class="col-md-12 text-center">
            <h2 class="p-4 m-0">Galeri</h2>
            <div class="horizontal-line-md">&nbsp;</div>
        </div>
    </div>

    <!-- 1. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(0)" class="img-fluid rounded zoom cursor-pointer" src="assets/images/hotel/kolibry-hotel-room-7.jpeg" alt="otel odası">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(1)" class="img-fluid rounded zoom cursor-pointer" src="assets/images/hotel/kolibry-hotel-room-9.jpeg" alt="otel odası">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(2)" class="img-fluid rounded zoom cursor-pointer" src="assets/images/hotel/kolibry-hotel-room-10.jpeg" alt="otel odası">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(3)" class="img-fluid rounded zoom cursor-pointer" src="assets/images/hotel/kolibry-hotel-view-1.jpg" alt="otelin manzarası">
            </div>
        </div>
    </div>
    <!-- /1. Blok-->

    <!-- 2. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(4)" class="img-fluid rounded zoom cursor-pointer" src="assets/images/hotel/kolibry-hotel-room-6.jpg" alt="otel odası">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(5)" class="img-fluid rounded zoom cursor-pointer" src="assets/images/hotel/kolibry-hotel-reception-1.jpg" alt="resepsiyon">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(6)" class="img-fluid rounded zoom cursor-pointer" src="assets/images/hotel/kolibry-hotel-room-2.jpg" alt="otel odası">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(7)" class="img-fluid rounded zoom cursor-pointer" src="assets/images/hotel/kolibry-hotel-room-8.jpeg" alt="koltuk ve abajur">
            </div>
        </div>
    </div>
    <!-- /2. Blok-->

    <!-- 3. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(8)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-3.jpg" alt="otel odası">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(9)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-restaurant-1.jpg" alt="restoran">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(10)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-breakfast-2.jpeg" alt="açık büfe kahvaltı">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(11)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-breakfast-1.jpg" alt="açık büfe kahvaltı">
            </div>
        </div>
    </div>
    <!-- /3. Blok-->

    <!-- 4. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(12)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-pool-1.jpg" alt="havuz">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(13)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-open-buffet-1.jpg" alt="açık büfe kahvaltı">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(14)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-pool-1.png" alt="havuz">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(15)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-outdoor-1.jpg" alt="otel bahçesi">
            </div>
        </div>
    </div>
    <!-- /4. Blok-->

    <!-- 5. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(16)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-bathroom-2.jpg" alt="banyo">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(17)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-sauna-1.jpg" alt="sauna">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(18)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-5.jpg" alt="otel odası">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(19)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-bathroom-1.jpg" alt="banyo">
            </div>
        </div>
    </div>
    <!-- /5. Blok-->

    <!-- 6. Blok-->
    <div class="row m-0 gx-3">
        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(20)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-room-5.jpg" alt="banyo">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(21)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-building-1.jpg" alt="otel binası">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(22)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-building-2.jpg" alt="otelin gece görünümü">
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xxl-3 p-1">
            <div class="overflow-hidden rounded">
                <img (click)="openImageModal(23)" class="img-fluid rounded zoom" src="assets/images/hotel/kolibry-hotel-hammam-and-spa-1.jpg" alt="hamam ve spa">
            </div>
        </div>
    </div>
    <!-- /6. Blok-->
</div>

<!-- Silme Onay Modal'ı -->
<ng-template #galleryModal let-modal>
    <div class="modal-body p-0">
        <!-- Slider -->
        <div class="container-fluid p-0">
            <button type="button" class="btn-close btn-close-custom" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
            <div class="slider">
                <swiper
                    [config]="config"
                >
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-room-7.jpeg" alt="otel odası">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-room-9.jpeg" alt="otel odası">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-room-10.jpeg" alt="otel odası">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-view-1.jpg" alt="otelin manzarası">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-room-6.jpg" alt="otel odası">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-reception-1.jpg" alt="resepsiyon">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-room-2.jpg" alt="otel odası">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-room-8.jpeg" alt="koltuk ve abajur">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-room-3.jpg" alt="otel odası">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-restaurant-1.jpg" alt="restoran">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-breakfast-2.jpeg" alt="açık büfe kahvaltı">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-breakfast-1.jpg" alt="açık büfe kahvaltı">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-pool-1.jpg" alt="havuz">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-open-buffet-1.jpg" alt="açık büfe kahvaltı">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-pool-1.png" alt="havuz">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-outdoor-1.jpg" alt="otel bahçesi">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-bathroom-2.jpg" alt="banyo">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-sauna-1.jpg" alt="sauna">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-room-5.jpg" alt="otel odası">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-bathroom-1.jpg" alt="banyo">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-room-5.jpg" alt="banyo">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-building-1.jpg" alt="otel binası">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-building-2.jpg" alt="otelin gece görünümü">
                    </ng-template>
                    <ng-template swiperSlide>
                        <img class="img-slider" src="assets/images/hotel/kolibry-hotel-hammam-and-spa-1.jpg" alt="hamam ve spa">
                    </ng-template>
                </swiper>
            </div>
        </div>
        <!-- /Slider -->
    </div>
</ng-template>
<!-- /Silme Onay Modal'ı -->