@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_mixins.scss';

.img-card {
    width: 100%;
}

.img-slider {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}

.btn-close-custom {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: $c-color-1;
    color: $c-color-2;
    padding: 10px;
    font-size: 20px;
    z-index: 2;
}