<div class="container-fluid g-0 p-3">
    <div class="card shadow-lg">
        <div class="card-body">

            <!-- Card Başlığı -->
            <h2 class="card-title text-center fs-4">{{cardHeader}}</h2>
            <!-- /Card Başlığı -->

            <!-- Site Grubu Ekleme/Düzenleme Formu -->
            <form #form="ngForm" (ngSubmit)="save(selectedSectionGroupDto)">
                <!-- Site Grubu Adı -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="section-group-name">Site Grubu Adı</label>
                    <input
                        id="section-group-name"
                        type="text"
                        name="sectionGroupName"
                        [(ngModel)]="selectedSectionGroupDto.sectionGroupName"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedSectionGroupDtoErrors.sectionGroupName }"
                        (change)="selectedSectionGroupDtoErrors.sectionGroupName = ''"
                        tabindex="1"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedSectionGroupDtoErrors.sectionGroupName">
                        <div>{{selectedSectionGroupDtoErrors.sectionGroupName}}</div>
                    </div>
                </div>
                <!-- /Site Grubu Adı -->
                
                <!-- Butonlar -->
                <div class="container-fluid m-0">
                    <div class="row">
                        <div class="col-6">
                            <button 
                                type="submit" 
                                class="btn btn-success w-100" 
                                [disabled]="loading"
                                tabindex="2"
                            >
                                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>Kaydet
                            </button>
                        </div>
                        <div class="col-6">
                            <button 
                                type="button" 
                                class="btn btn-secondary w-100"
                                (click)="cancel()"
                            >İptal
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /Butonlar -->
            </form>
            <!-- /Site Grubu Ekleme/Düzenleme Formu -->
        </div>
    </div>
</div>
    