<div class="container-fluid login-special d-flex flex-column justify-content-center" [ngClass]="{'p-2': breakpointService.screenSize.width < 568 }">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-9 col-lg-7 col-xl-5 col-xxl-4">
            <div class="card shadow-lg" [ngClass]="{'mt-4 mb-4': breakpointService.screenSize.width >= 568 }">
                <div class="card-body mt-4">
                    <form>
                        <!-- Card Başlığı -->
                        <h2 class="card-title text-center fs-3">İş Yönetimine Hoşgeldiniz!</h2>
                        <!-- /Card Başlığı -->

                        <!-- Card Yazısı -->
                        <p class="card-text text-center">Lütfen hesabınızda oturum açın.</p>
                        <!-- /Card Yazısı -->

                        <!-- Hata Bildirimi -->
                        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="result.message">
                            <div class="alert-body">
                                <span>{{ result.message }}</span>
                            </div>
                        </ngb-alert>
                        <!-- /Hata Bildirimi -->

                        <!-- Form Konteynırı -->
                        <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs justify-content-center">
                            <li ngbNavItem>
                                <a ngbNavLink (click)="resetForms()">
                                    <i class="fas fa-phone-alt me-2"></i>
                                    <span>Telefon</span>
                                </a>
                                <ng-template ngbNavContent>
                                    
                                    <!-- Telefonla Giriş Formu -->
                                    <form [formGroup]="phoneForm" (ngSubmit)="loginWithPhone()">

                                        <!-- Telefon Numarası -->
                                        <div class="mt-3 mb-3">
                                            <label class="form-label" for="phone-form-phone">Telefon Numarası</label>
                                            <input
                                                id="phone-form-phone"
                                                type="number"
                                                formControlName="phone"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submittedPhone && phoneForm.controls['phone'].errors}"
                                                placeholder="5554443322"
                                                tabindex="1"
                                            />
                                            <div class="invalid-feedback" *ngIf="submittedPhone && phoneForm.controls['phone'].errors">
                                                <div *ngIf="phoneForm.controls['phone'].errors?.['required']">Lütfen telefon numaranızı giriniz.</div>
                                            </div>
                                        </div>
                                        <!-- /Telefon Numarası -->

                                        <!-- Şifre -->
                                        <div class="mt-3 mb-3">
                                            <div class="d-flex justify-content-between mb-2">
                                                <label for="phone-form-password">Şifre</label>

                                                <!-- Şifremi Unuttum Linki -->
                                                <a routerLink="/pages/authentication/forgot-password-v2"><small>Şifremi Unuttum</small></a>
                                                <!-- /Şifremi Unuttum Linki -->

                                            </div>
                                            <div class="input-group">
                                                <input
                                                    id="phone-form-password"
                                                    [type]="passwordTextType ? 'text' : 'password'"
                                                    formControlName="password"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submittedPhone && phoneForm.controls['password'].errors }"
                                                    placeholder="******"
                                                    tabindex="2"
                                                />
                                                <button class="btn btn-outline-success" type="button" (click)="togglePasswordTextType()">
                                                    <i 
                                                        class="fas" 
                                                        [ngClass]="{
                                                            'fa-eye-slash': passwordTextType,
                                                            'fa-eye': !passwordTextType
                                                        }"
                                                    >
                                                    </i>
                                                </button>
                                                <!-- Yerini değiştirme -->
                                                <div class="invalid-feedback" *ngIf="submittedPhone && phoneForm.controls['password'].errors">
                                                    <div *ngIf="phoneForm.controls['password'].errors?.['required']">Lütfen şifrenizi giriniz.</div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /Şifre -->

                                        <!-- Oturum Süresi -->
                                        <div class="mt-3 mb-3">
                                            <label class="mb-2" for="phone-form-auth-duration">Oturum Süresi</label>
                                            <ng-select
                                                id="phone-form-auth-duration"
                                                [items]="refreshTokenDurationOptions"
                                                formControlName="refreshTokenDuration"
                                                bindLabel="text"
                                                bindValue="duration"
                                                [clearable]="false"
                                                [searchable]="false"
                                                tabindex="3"
                                            >
                                            </ng-select>
                                        </div>
                                        <!-- /Oturum Süresi -->

                                        <!-- Giriş Butonu -->
                                        <div class="mt-4 d-grid col-12">
                                            <button 
                                                class="btn btn-success" 
                                                [disabled]="loadingPhone" 
                                                tabindex="4"
                                            >
                                                <span *ngIf="loadingPhone" class="spinner-border spinner-border-sm me-2"></span>Giriş Yap
                                            </button>
                                        </div>
                                        <!-- /Giriş Butonu -->

                                    </form>
                                    <!-- /Telefonla Giriş Formu -->

                                </ng-template>
                            </li>
                            <li ngbNavItem>
                                <a ngbNavLink (click)="resetForms()">
                                    <i class="fas fa-envelope me-2"></i>
                                    <span>E-Posta</span>
                                </a>
                                <ng-template ngbNavContent>

                                    <!-- E-Postayla Giriş Formu -->
                                    <form [formGroup]="emailForm" (ngSubmit)="loginWithEmail()">

                                        <!-- E-Posta -->
                                        <div class="mt-3 mb-3">
                                            <label class="form-label" for="email-form-email">E-Posta</label>
                                            <input
                                                id="email-form-email"
                                                type="text"
                                                formControlName="email"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submittedEmail && emailForm.controls['email'].errors }"
                                                placeholder="example@mail.com"
                                                tabindex="1"
                                            />
                                            <div class="invalid-feedback" *ngIf="submittedEmail && emailForm.controls['email'].errors">
                                                <div *ngIf="emailForm.controls['email'].errors?.['required']">Lütfen e-posta adresinizi giriniz.</div>
                                            </div>
                                        </div>
                                        <!-- /E-Posta -->

                                        <!-- Şifre -->
                                        <div class="mt-3 mb-3">
                                            <div class="d-flex justify-content-between mb-2">
                                                <label for="email-form-password">Şifre</label>

                                                <!-- Şifremi Unuttum Linki -->
                                                <a routerLink="/pages/authentication/forgot-password-v2"><small>Şifremi Unuttum</small></a>
                                                <!-- /Şifremi Unuttum Linki -->

                                            </div>
                                            <div class="input-group">
                                                <input
                                                    id="email-form-password"
                                                    [type]="passwordTextType ? 'text' : 'password'"
                                                    formControlName="password"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submittedEmail && emailForm.controls['password'].errors }"
                                                    placeholder="******"
                                                    tabindex="2"
                                                />
                                                <button class="btn btn-outline-success" type="button" (click)="togglePasswordTextType()">
                                                    <i 
                                                        class="fas" 
                                                        [ngClass]="{
                                                            'fa-eye-slash': passwordTextType,
                                                            'fa-eye': !passwordTextType
                                                        }"
                                                    >
                                                    </i>
                                                </button>
                                                <!-- Yerini değiştirme -->
                                                <div class="invalid-feedback" *ngIf="submittedEmail && emailForm.controls['password'].errors">
                                                    <div *ngIf="emailForm.controls['password'].errors?.['required']">Lütfen şifrenizi giriniz.</div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /Şifre -->

                                        <!-- Oturum Süresi -->
                                        <div class="mt-3 mb-3">
                                            <label class="mb-2" for="email-form-auth-duration">Oturum Süresi</label>
                                            <ng-select
                                                id="email-form-auth-duration"
                                                [items]="refreshTokenDurationOptions"
                                                formControlName="refreshTokenDuration"
                                                bindLabel="text"
                                                bindValue="duration"
                                                [clearable]="false"
                                                [searchable]="false"
                                                tabindex="3"
                                            >
                                            </ng-select>
                                        </div>
                                        <!-- /Oturum Süresi -->

                                        <!-- Giriş Butonu -->
                                        <div class="mt-4 d-grid col-12">
                                            <button 
                                                class="btn btn-success" 
                                                [disabled]="loadingEmail" 
                                                tabindex="4"
                                            >
                                                <span *ngIf="loadingEmail" class="spinner-border spinner-border-sm me-2"></span>Giriş Yap
                                            </button>
                                        </div>
                                        <!-- /Giriş Butonu -->

                                    </form>
                                    <!-- /E-Postayla Giriş Formu -->
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
                        <!-- /Form Konteynırı -->

                        <!-- Kayıt Sayfasına Geçiş -->
                        <p class="text-center mt-2">
                            <span class="me-2">Hesabınız yok mu?</span>
                            <a routerLink="/public/register"><span>&nbsp;Hemen Kaydolun.</span></a>
                        </p>
                        <!-- /Kayıt Sayfasına Geçiş -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
