<ng-container *ngIf="activePage == 'list'">
    <ng-container *ngTemplateOutlet="accountList"></ng-container>
</ng-container>

<ng-container *ngIf="activePage == 'detail'">
    <ng-container *ngTemplateOutlet="accountDetail"></ng-container>
</ng-container>

<ng-template #accountList>
    <app-account-list
        [accountExtDtos]="(accountExtDtos$ | async)?.data || []"
        (added)="add($event)"
        (deleted)="delete($event)"
        (updated)="update($event)"
    ></app-account-list>
</ng-template>

<ng-template #accountDetail>
    <app-account-detail
        [accountGroupDtos]="accountGroupDtos || []"
        [branchDtos]="(branchDtos$ | async)?.data || []"
        [cardHeader]="cardHeader"
        [loading]="loading"
        [selectedAccountExtDto]="selectedAccountExtDto"
        [selectedAccountExtDtoErrors]="selectedAccountExtDtoErrors"
        (accountCodeGenerated)="generateAccountCode()"
        (accountCodePropertiesReset)="resetAccountCodeProperties()"
        (cancelled)="cancel()"
        (saved)="save($event)"
    ></app-account-detail>
</ng-template>

<!-- Silme Onay Modal'ları -->
<ng-template #deleteCashModal let-modal>
    <div class="modal-header justify-content-between">
        <img class="opacity-0" src="#" width="24" height="24">
        <h4 class="modal-title" id="modal-basic-title">Kasa Silme</h4>
        <button type="button" class="btn-close m-0" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
    </div>

    <div class="modal-body">
        <p class="text-center m-0">"{{selectedAccountExtDto.accountName}}" adlı kasa silinecektir. Onaylıyor musunuz?</p>
    </div>

    <div class="modal-footer w-100">
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger w-100" (click)="modal.close('ok')">Sil</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" (click)="modal.dismiss('cancel')">İptal</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteEmployeeModal let-modal>
    <div class="modal-header justify-content-between">
        <img class="opacity-0" src="#" width="24" height="24">
        <h4 class="modal-title" id="modal-basic-title">Personel Silme</h4>
        <button type="button" class="btn-close m-0" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
    </div>

    <div class="modal-body">
        <p class="text-center m-0">"{{selectedAccountExtDto.accountName}}" adlı personel silinecektir. Onaylıyor musunuz?</p>
    </div>

    <div class="modal-footer w-100">
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger w-100" (click)="modal.close('ok')">Sil</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" (click)="modal.dismiss('cancel')">İptal</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteHouseOwnerModal let-modal>
    <div class="modal-header justify-content-between">
        <img class="opacity-0" src="#" width="24" height="24">
        <h4 class="modal-title" id="modal-basic-title">Mülk Sahibi Silme</h4>
        <button type="button" class="btn-close m-0" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
    </div>

    <div class="modal-body">
        <p class="text-center m-0">"{{selectedAccountExtDto.accountName}}" adlı mülk sahibi silinecektir. Onaylıyor musunuz?</p>
    </div>

    <div class="modal-footer w-100">
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger w-100" (click)="modal.close('ok')">Sil</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" (click)="modal.dismiss('cancel')">İptal</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteTenantModal let-modal>
    <div class="modal-header justify-content-between">
        <img class="opacity-0" src="#" width="24" height="24">
        <h4 class="modal-title" id="modal-basic-title">Kiracı Silme</h4>
        <button type="button" class="btn-close m-0" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
    </div>

    <div class="modal-body">
        <p class="text-center m-0">"{{selectedAccountExtDto.accountName}}" adlı kiracı silinecektir. Onaylıyor musunuz?</p>
    </div>

    <div class="modal-footer w-100">
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger w-100" (click)="modal.close('ok')">Sil</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" (click)="modal.dismiss('cancel')">İptal</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteAccountModal let-modal>
    <div class="modal-header justify-content-between">
        <img class="opacity-0" src="#" width="24" height="24">
        <h4 class="modal-title" id="modal-basic-title">Cari Hesap Silme</h4>
        <button type="button" class="btn-close m-0" aria-label="Close" (click)="modal.dismiss('cancel')"></button>
    </div>
    
    <div class="modal-body">
        <p class="text-center m-0">"{{selectedAccountExtDto.accountName}}" adlı cari hesap silinecektir. Onaylıyor musunuz?</p>
    </div>

    <div class="modal-footer w-100">
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger w-100" (click)="modal.close('ok')">Sil</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-secondary w-100" (click)="modal.dismiss('cancel')">İptal</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- /Silme Onay Modal'ları -->
