<div class="container-fluid g-0 p-3">
    <div class="card shadow-lg">
        <div class="card-body">

            <!-- Card Başlığı -->
            <h2 class="card-title text-center fs-4">{{cardHeader}}</h2>
            <!-- /Card Başlığı -->

            <!-- Apartman Ekleme/Düzenleme Formu -->
            <form #form="ngForm" (ngSubmit)="save(selectedApartmentExtDto)">
                <!-- Apartman Adı -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="apartment-name">Apartman Adı</label>
                    <input
                        id="apartment-name"
                        type="text"
                        name="apartmentName"
                        [(ngModel)]="selectedApartmentExtDto.apartmentName"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedApartmentExtDtoErrors.apartmentName }"
                        (change)="selectedApartmentExtDtoErrors.apartmentName = ''"
                        tabindex="1"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedApartmentExtDtoErrors.apartmentName">
                        <div>{{selectedApartmentExtDtoErrors.apartmentName}}</div>
                    </div>
                </div>
                <!-- /Apartman Adı -->
                
                <!-- Site -->
                <div class="mt-3 mb-3">
                    <label class="mb-2" for="section-id">Site</label>
                    <select 
                        id="section-id"
                        name="sectionId"
                        class="form-select"
                        [(ngModel)]="selectedApartmentExtDto.sectionId"
                        [ngClass]="{ 'is-invalid': submitted && selectedApartmentExtDtoErrors.sectionId }"
                        [disabled]="selectedApartmentExtDto.apartmentId != 0"
                        (change)="selectedApartmentExtDtoErrors.sectionId = ''"
                        tabindex="2"
                    >
                        <option 
                            *ngFor="let sectionDto of sectionDtos"
                            [value]="sectionDto.sectionId"
                        >
                            {{sectionDto.sectionName}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && selectedApartmentExtDtoErrors.sectionId">
                        <div>{{selectedApartmentExtDtoErrors.sectionId}}</div>
                    </div>
                </div>
                <!-- /Site -->

                <!-- Yönetici -->
                <div class="mt-3 mb-3">
                    <label class="mb-2" for="manager-id">Yönetici</label>
                    <select 
                        id="manager-id"
                        name="managerId"
                        class="form-select"
                        [(ngModel)]="selectedApartmentExtDto.managerId"
                        [ngClass]="{ 'is-invalid': submitted && selectedApartmentExtDtoErrors.managerId }"
                        (change)="selectedApartmentExtDtoErrors.managerId = ''"
                        tabindex="3"
                    >
                        <option 
                            *ngFor="let managerDto of managerDtos"
                            [value]="managerDto.managerId"
                        >
                            {{managerDto.nameSurname}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && selectedApartmentExtDtoErrors.managerId">
                        <div>{{selectedApartmentExtDtoErrors.managerId}}</div>
                    </div>
                </div>
                <!-- /Yönetici -->

                <!-- Blok Numarası -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="block-number">Blok Numarası</label>
                    <input
                        id="block-number"
                        type="number"
                        name="blockNumber"
                        [(ngModel)]="selectedApartmentExtDto.blockNumber"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedApartmentExtDtoErrors.blockNumber }"
                        (change)="selectedApartmentExtDtoErrors.blockNumber = ''"
                        tabindex="4"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedApartmentExtDtoErrors.blockNumber">
                        <div>{{selectedApartmentExtDtoErrors.blockNumber}}</div>
                    </div>
                </div>
                <!-- /Blok Numarası -->

                <!-- Butonlar -->
                <div class="container-fluid m-0">
                    <div class="row">
                        <div class="col-6">
                            <button 
                                type="submit" 
                                class="btn btn-success w-100" 
                                [disabled]="loading"
                                tabindex="5"
                            >
                                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>Kaydet
                            </button>
                        </div>
                        <div class="col-6">
                            <button 
                                type="button" 
                                class="btn btn-secondary w-100"
                                (click)="cancel()"
                            >İptal
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /Butonlar -->
            </form>
            <!-- /Apartman Ekleme/Düzenleme Formu -->
        </div>
    </div>
</div>
    