<div class="container-fluid g-0 p-3">
    <div class="card shadow-lg">
        <div class="card-body">

            <!-- Card Başlığı -->
            <h2 class="card-title text-center fs-4">{{cardHeader}}</h2>
            <!-- /Card Başlığı -->

            <!-- Site Ekleme/Düzenleme Formu -->
            <form #form="ngForm" (ngSubmit)="save(selectedSectionExtDto)">
                <!-- Site Adı -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="section-name">Site Adı</label>
                    <input
                        id="section-name"
                        type="text"
                        name="sectionName"
                        [(ngModel)]="selectedSectionExtDto.sectionName"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedSectionExtDtoErrors.sectionName }"
                        (change)="selectedSectionExtDtoErrors.sectionName = ''"
                        tabindex="1"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedSectionExtDtoErrors.sectionName">
                        <div>{{selectedSectionExtDtoErrors.sectionName}}</div>
                    </div>
                </div>
                <!-- /Site Adı -->
                
                <!-- Site Grubu -->
                <div class="mt-3 mb-3">
                    <label class="mb-2" for="section-group-id">Site Grubu</label>
                    <select 
                        id="section-group-id"
                        name="sectionGroupId"
                        class="form-select"
                        [(ngModel)]="selectedSectionExtDto.sectionGroupId"
                        [ngClass]="{ 'is-invalid': submitted && selectedSectionExtDtoErrors.sectionGroupId }"
                        (change)="selectedSectionExtDtoErrors.sectionGroupId = ''"
                        tabindex="2"
                    >
                        <option 
                            *ngFor="let sectionGroupDto of sectionGroupDtos"
                            [value]="sectionGroupDto.sectionGroupId"
                        >
                            {{sectionGroupDto.sectionGroupName}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && selectedSectionExtDtoErrors.sectionGroupId">
                        <div>{{selectedSectionExtDtoErrors.sectionGroupId}}</div>
                    </div>
                </div>
                <!-- /Site Grubu -->

                <!-- Yönetici -->
                <div class="mt-3 mb-3">
                    <label class="mb-2" for="manager-id">Yönetici</label>
                    <select 
                        id="manager-id"
                        name="managerId"
                        class="form-select"
                        [(ngModel)]="selectedSectionExtDto.managerId"
                        [ngClass]="{ 'is-invalid': submitted && selectedSectionExtDtoErrors.managerId }"
                        (change)="selectedSectionExtDtoErrors.managerId = ''"
                        tabindex="3"
                    >
                        <option 
                            *ngFor="let managerDto of managerDtos"
                            [value]="managerDto.managerId"
                        >
                            {{managerDto.nameSurname}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && selectedSectionExtDtoErrors.managerId">
                        <div>{{selectedSectionExtDtoErrors.managerId}}</div>
                    </div>
                </div>
                <!-- /Yönetici -->

                <!-- Şehir -->
                <div class="mt-3 mb-3">
                    <label class="mb-2" for="city-id">Şehir</label>
                    <select 
                        id="city-id"
                        name="cityId"
                        class="form-select"
                        [(ngModel)]="selectedSectionExtDto.cityId"
                        (change)="selectCity(selectedSectionExtDto.cityId)"
                        [ngClass]="{ 'is-invalid': submitted && selectedSectionExtDtoErrors.cityId }"
                        (change)="selectedSectionExtDtoErrors.cityId = ''"
                        tabindex="4"
                    >
                        <option 
                            *ngFor="let cityDto of cityDtos"
                            [value]="cityDto.cityId"
                        >
                            {{cityDto.cityName}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && selectedSectionExtDtoErrors.cityId">
                        <div>{{selectedSectionExtDtoErrors.cityId}}</div>
                    </div>
                </div>
                <!-- /Şehir -->
    
                <!-- İlçe -->
                <div class="mt-3 mb-3">
                    <label class="mb-2" for="district-id">İlçe</label>
                    <select 
                        id="district-id"
                        name="districtId"
                        class="form-select"
                        [(ngModel)]="selectedSectionExtDto.districtId"
                        [ngClass]="{ 'is-invalid': submitted && selectedSectionExtDtoErrors.districtId }"
                        (change)="selectedSectionExtDtoErrors.districtId = ''"
                        tabindex="5"
                    >
                        <option 
                            *ngFor="let districtDto of districtDtos"
                            [value]="districtDto.districtId"
                        >
                            {{districtDto.districtName}}
                        </option>
                    </select>
                    <div class="invalid-feedback" *ngIf="submitted && selectedSectionExtDtoErrors.districtId">
                        <div>{{selectedSectionExtDtoErrors.districtId}}</div>
                    </div>
                </div>
                <!-- /İlçe -->

                <!-- Posta Kodu -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="postal-code">Posta Kodu</label>
                    <input
                        id="postal-code"
                        type="number"
                        name="postalCode"
                        [(ngModel)]="selectedSectionExtDto.postalCode"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedSectionExtDtoErrors.postalCode }"
                        (change)="selectedSectionExtDtoErrors.postalCode = ''"
                        tabindex="6"
                    />
                    <div class="invalid-feedback" *ngIf="submitted && selectedSectionExtDtoErrors.postalCode">
                        <div>{{selectedSectionExtDtoErrors.postalCode}}</div>
                    </div>
                </div>
                <!-- /Posta Kodu -->
                
                <!-- Adres -->
                <div class="mt-3 mb-3">
                    <label class="form-label" for="address-text">Adres</label>
                    <textarea
                        id="address-text"
                        type="text"
                        name="addressText"
                        [(ngModel)]="selectedSectionExtDto.addressText"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && selectedSectionExtDtoErrors.addressText }"
                        (change)="selectedSectionExtDtoErrors.addressText = ''"
                        tabindex="7"
                    ></textarea>
                    <div class="invalid-feedback" *ngIf="submitted && selectedSectionExtDtoErrors.addressText">
                        <div>{{selectedSectionExtDtoErrors.addressText}}</div>
                    </div>
                </div>
                <!-- /Adres -->

                <!-- Butonlar -->
                <div class="container-fluid m-0">
                    <div class="row">
                        <div class="col-6">
                            <button 
                                type="submit" 
                                class="btn btn-success w-100" 
                                [disabled]="loading"
                                tabindex="8"
                            >
                                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>Kaydet
                            </button>
                        </div>
                        <div class="col-6">
                            <button 
                                type="button" 
                                class="btn btn-secondary w-100"
                                (click)="cancel()"
                            >İptal
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /Butonlar -->
            </form>
            <!-- /Site Ekleme/Düzenleme Formu -->
        </div>
    </div>
</div>
    