<div class="container-xl">
    <div class="row m-0 gx-3">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center mb-5 mt-5 shadow bg-success">
                <div class="card-body">
                    <h3 class="card-title m-0 p-5">Rezervasyonunuz İşleme Alındı. / Reservation Is In Progress</h3>
                    <p>Ödemeniz onaylandığında sizi bilgilendireceğiz. / We will notify you when your payment is confirmed.</p>
                </div>
            </div>
        </div>
    </div>
</div>