<!-- Slider -->
<div class="container-fluid">
    <div class="slider">
        <swiper
            [config]="config"
        >
            <ng-template swiperSlide>
                <img class="img-slider" src="assets/images/hotel/kolibry-hotel-building-1-cropped.jpg" alt="otel binası">
            </ng-template>
            <ng-template swiperSlide>
                <img class="img-slider" src="assets/images/hotel/kolibry-hotel-restaurant-1-cropped.jpg" alt="restoran">
            </ng-template>
            <ng-template swiperSlide>
                <img class="img-slider" src="assets/images/hotel/kolibry-hotel-hammam-and-spa-1.jpg" alt="hamam ve spa">
            </ng-template>
            <ng-template swiperSlide>
                <img class="img-slider" src="assets/images/hotel/kolibry-hotel-room-11-cropped.jpg" alt="oda">
            </ng-template>
            <ng-template swiperSlide>
                <img class="img-slider" src="assets/images/hotel/kolibry-hotel-bathroom-1-cropped.jpg" alt="banyo">
            </ng-template>
            <ng-template swiperSlide>
                <img class="img-slider" src="assets/images/hotel/kolibry-hotel-breakfast-1-cropped.jpg" alt="kahvaltı">
            </ng-template>
            <ng-template swiperSlide>
                <img class="img-slider" src="assets/images/hotel/kolibry-hotel-building-2-cropped.jpg" alt="otel binasının gece görünümü">
            </ng-template>
        </swiper>
    </div>
</div>
<!-- /Slider -->

<div class="container-xl">
    <div class="row m-0 gx-3">
        <div class="col-md-12 text-center">
            <h2 class="p-4 m-0">Hizmetlerimiz</h2>
            <div class="horizontal-line-lg">&nbsp;</div>
        </div>
    </div>
    <div class="row m-0 gx-3">
        <div class="col-md-4">
            <div class="card text-center mb-5 mt-5 shadow bg-primary">
                <div class="card-body d-flex flex-column gap-4 p-0">
                    <figure class="figure overflow-hidden">
                        <img class="img-card rounded zoom" src="assets/images/hotel/kolibry-hotel-open-buffet-1.jpg" alt="açık büfe kahvaltı">
                        <figcaption class="figcaption">
                            <h3>Açık Büfe</h3>
                        </figcaption>
                    </figure>
                    <ul class="list-unstyled">
                        <li class="mb-2">Açık Büfe Restoran</li>
                        <li class="mb-2">Açık Büfe Kahvaltı</li>
                        <li class="mb-2">Odaya Kahvaltı</li>
                        <li class="mb-2">Ücretsiz Çay</li>
                        <li class="mb-2">Ücretsiz Granül Kahve</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center mb-5 mt-5 shadow bg-primary">
                <div class="card-body d-flex flex-column gap-4 p-0">
                    <figure class="figure overflow-hidden">
                        <img class="img-card rounded zoom" src="assets/images/hotel/kolibry-hotel-pool-1.png" alt="açık havuz">
                        <figcaption class="figcaption">
                            <h3>Havuz</h3>
                        </figcaption>
                    </figure>
                    <ul class="list-unstyled">
                        <li class="mb-2">&nbsp;</li>
                        <li class="mb-2">Açık Havuzda Sığ Kısım</li>
                        <li class="mb-2">Çocuklar İçin Güvenli Bölge</li>
                        <li class="mb-2">&nbsp;</li>
                        <li class="mb-2">&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center mb-5 mt-5 shadow bg-primary">
                <div class="card-body d-flex flex-column gap-4 p-0">
                    <figure class="figure overflow-hidden">
                        <img class="img-card rounded zoom" src="assets/images/hotel/kolibry-hotel-spa-1.png" alt="mumlar ve spa taşları">
                        <figcaption class="figcaption">
                            <h3>Hamam</h3>
                        </figcaption>
                    </figure>
                    <ul class="list-unstyled">
                        <li class="mb-2">Spa</li>
                        <li class="mb-2">Tam Vücut Masajı</li>
                        <li class="mb-2">Ayak Masajı</li>
                        <li class="mb-2">El Masajı</li>
                        <li class="mb-2">Baş-Boyun Masajı</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
