<div class="container-xl special">
    <div class="row g-0">
        <div class="col-lg-6 d-flex flex-column justify-content-center mt-5 mb-3 p-4">
            <h2 class="fs-4">İşletme, Otel ve Site Yönetim Yazılımı</h2>
            <hr>
            <h3 class="fw-bold fs-1">Yöneticiler ve personeller için kolay yönetim, müşteriler için rahat yaşam!</h3>
            <hr>
            <p class="fs-5">İş Yönetim; işletme, otel ve site yöneticileri ve personellerine dijital asistanlık yapan, 
                ön muhasebe, fatura, demirbaş yönetimi, personel ve maaş yönetimi gibi hizmetler sunan,
                müşteriler içinse şeffaflık vadeden bir yönetim yazılımıdır.</p>
        </div>
        <div class="col-lg-6 mt-5 mb-5">
            <img class="img-fluid" src="../../../../assets/images/pages/index-hero.webp" alt="Uygulamanın ekran görüntüsü">
        </div>
    </div>
    <div class="row m-0 gx-3">
        <div class="col-md-4">
            <div class="card text-center mb-5 mt-5 shadow">
                <div class="card-body d-flex flex-column gap-4">
                    <i class="fas fa-briefcase fa-2x mt-4"></i>
                    <h3>İşletme</h3>
                    <p>İşletmeniz için stok, fatura ve personel takibi yapın.</p>
                    <button class="btn btn-color-1">İşletme Sahibiyim</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center mb-5 mt-5 shadow">
                <div class="card-body d-flex flex-column gap-4">
                    <i class="fas fa-hotel fa-2x mt-4"></i>
                    <h3>Otel</h3>
                    <p>Oteliniz için rezervasyon, restoran ve personel yönetimi yapın.</p>
                    <button class="btn btn-gradient text-white">Otel Yöneticisiyim</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center mb-5 mt-5 shadow">
                <div class="card-body d-flex flex-column gap-4">
                    <i class="fas fa-city fa-2x mt-4"></i>
                    <h3>Site</h3>
                    <p>Siteniz için aidat, kira, ortak alan yönetimi yapın.</p>
                    <button class="btn btn-color-2">Site Yöneticisiyim</button>
                </div>
            </div>
        </div>
    </div>
</div>
