<div class="container-fluid g-0 p-3">
    <!-- İstatistikler -->
    <div class="row g-0 m-0 mb-4">
        
        <div class="col-12">
            <div class="card shadow-lg">
                <div class="card-header bg-color-1 text-white d-flex flex-row justify-content-between align-items-center">
                    <h4 class="card-title fs-4 pt-2">İstatistikler</h4>
                    <div class="d-flex align-items-center">
                        <p class="fs-6 mb-0">1 saat önce güncellendi</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="icon-bg bg-1 rounded-circle d-flex justify-content-center align-items-center me-3">
                                    <i class="fas fa-city fa-lg"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0">3</h4>
                                    <p class="card-text fs-6 mb-0">Site</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="icon-bg bg-2 rounded-circle d-flex justify-content-center align-items-center me-3">
                                    <i class="fas fa-building fa-lg"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0">25</h4>
                                    <p class="card-text fs-6 mb-0">Apartman</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="icon-bg bg-3 rounded-circle d-flex justify-content-center align-items-center me-3">
                                    <i class="fas fa-home fa-lg"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0">361</h4>
                                    <p class="card-text fs-6 mb-0">Daire</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="icon-bg bg-4 rounded-circle d-flex justify-content-center align-items-center me-3">
                                    <i class="fas fa-user fa-lg"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0">1147</h4>
                                    <p class="card-text fs-6 mb-0">Apartman Sakini</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- /İstatistikler -->

    <!-- Aidat -->
    <div class="row g-0 m-0 mb-4">
        <div class="col-12">
            <div class="card shadow-lg">
                <div class="card-header bg-color-1 text-white d-flex flex-row justify-content-between align-items-center">
                    <h4 class="card-title fs-4 pt-2">Aidat (Mart)</h4>
                    <div class="d-flex align-items-center">
                        <p class="fs-6 mb-0">1 saat önce güncellendi</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="icon-bg bg-1 rounded-circle d-flex justify-content-center align-items-center me-3">
                                    <i class="fas fa-money-bill fa-lg"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0">80 ₺</h4>
                                    <p class="card-text fs-6 mb-0">Aidat Miktarı</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="icon-bg bg-2 rounded-circle d-flex justify-content-center align-items-center me-3">
                                    <i class="fas fa-comment-dollar fa-lg"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0">5,222 ₺</h4>
                                    <p class="card-text fs-6 mb-0">Ödenmemiş</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="icon-bg bg-3 rounded-circle d-flex justify-content-center align-items-center me-3">
                                    <i class="fas fa-hand-holding-usd fa-lg"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0">23,658 ₺</h4>
                                    <p class="card-text fs-6 mb-0">Ödenmiş</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="icon-bg bg-4 rounded-circle d-flex justify-content-center align-items-center me-3">
                                    <i class="fas fa-file-invoice-dollar fa-lg"></i>
                                </div>
                                <div>
                                    <h4 class="mb-0">28,880 ₺</h4>
                                    <p class="card-text fs-6 mb-0">Toplam Ödenecek</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Aidat -->

    <!-- Aidat -->
    <div class="row g-0 m-0">
        <div class="col-12">
            <div class="card shadow-lg">
                <div class="card-header bg-color-1 text-white d-flex flex-row justify-content-between align-items-center">
                    <h4 class="card-title fs-4 pt-2">Ödeme Yapmamış Apartmant Sakinleri (Mart)</h4>
                    <div class="d-flex align-items-center">
                        <p class="fs-6 mb-0">1 saat önce güncellendi</p>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Ad Soyad</th>
                          <th scope="col">Telefon</th>
                          <th scope="col">Toplam Borç</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let person of persons; index as i">
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{ person.nameSurname }}</td>
                          <td>{{ person.phone}}</td>
                          <td>{{ person.totalDept}} ₺</td>
                        </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Aidat -->
</div>
