<div class="container-xl">
    <div class="row m-0 gx-3">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center mb-5 mt-5 shadow bg-danger">
                <div class="card-body text-white">
                    <h3 class="card-title mt-1 mb-2 p-3">Rezervasyon İşlemi Başarısız!</h3>
                    <p>Lütfen daha sonra tekrar deneyin.</p>
                    <hr>
                    <h3 class="card-title mt-1 mb-2 p-3">Reservation Is Failed!</h3>
                    <p>Please try again later.</p>
                </div>
            </div>
        </div>
    </div>
</div>